<h3>HELLO <%= @user_name %>, WE ARE RAILSING!</h3>
<%= link_to "Check out the most recent post!", latest_posts_path %>
<br>
<%= link_to "New Post!", new_post_path %>
<br>
<%= link_to "New User!", new_user_path %>
<br>
<%= link_to "Login!", new_session_path %>
<br>
<%= link_to "Logout!", logout_path, method: :delete %>
<br>
<table class="table table-condensed table-hover">
  <thead>
    <tr>
      <td>Post Title</td>
      <td>Post Writer</td>
      <td>Post Creation Date</td>
      <td></td>
    </tr>
  </thead>
  <tbody>
  <% @posts.each do |post| %>
  <tr>
  <td><%= post.title %></td>
  <td>
    <% if !post.writer.nil? %>
      <%= post.writer.name %>
    <% end %>
  </td>
  <td><%= post.created_at %></td>
  <td><%= link_to "View Post", post_path(post) %></td>
  </tr>
  <% end %>
  </tbody>
</table>
