<h1>HELLO, WE ARE RAILSING!</h1>
<%= link_to "Check out the most recent post!", latest_posts_path %>
<ul>
  <% @posts.each do |post| %>
  <li><%= post.title %>:
    <% if !post.writer.nil? %>
      <%= post.writer.name %>
    <% end %>
    (<%= post.created_at %>)
    <%= link_to "View Post", post_path(post) %>
  </li>
  <% end %>
</ul>
